/* SnackPage.css */
.snack-page {
    background-image: url('./images/snack.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
  }
  